.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0,0,0,.9);

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 1.5rem;
    padding-right: 1rem;
    cursor: pointer;
    width: 1.2rem;

    @include multiple-media(mobileScreen) {
       height: 1.5rem;
       position: relative;
       margin-left: auto;
     }

    @include multiple-media(tabletScreen) {
      height: 1.5rem;
      margin-left: auto;
      z-index: 10000;
    }

    &--white {
      display: block;

      @include multiple-media(mobileScreen, tabletScreen) {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 1.5rem;
        padding-right: 1rem;
        cursor: pointer;
        width: 1.5rem;
      }
    }

    &--black {
      display: none;

      @include multiple-media(mobileScreen, tabletScreen) {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 1.5rem;
        padding-right: 1rem;
        cursor: pointer;
        width: 1.5rem;
      }
    }
  }

  &__content {

  }
}

.amenities-modal {
  background-color: $white;

  @include multiple-media(mobileScreen, tabletScreen) {
    padding-top: 2rem;
  }

  .modal__close {
    @include multiple-media(mobileScreen, tabletScreen) {
      position: fixed;
      height: 4.2rem;
      padding: 0;
      width: 5rem;
      background: $white;
    }

    @include multiple-media(tabletScreen) {
      border-bottom: 1px solid $white;
    }
  }

  .modal__close--black {
    display: block;
  }
  .modal__close--white {
    display: none;
  }

  .content__text--title {
    color: $black;
  }

  .content__text__wrapper--title {
    color: $black;
  }

  .content-image__views {

    @include multiple-media(mobileScreen, tabletScreen) {
      display: unset !important;
    }
  }
}
