.slider {
  position: relative;

  .slick-active {
    animation: myMove 1s forwards;

    @keyframes myMove {
      from {transform: scale(1.2);}
      to {transform: scale(1);}
    }
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
    transition: all 0.5s ease;

    @include multiple-media(mobileScreen) {
      height: calc(100vh/2.2 - 3rem)
    }

    @include multiple-media(tabletScreen) {
      height: calc(100vh/2)
    }

    @include multiple-media(mobileScreenLandscape) {
      height: calc(100vh - 4.4rem);
    }
    @include multiple-media(tabletScreenLandscape) {
      height: calc(100vh/1.5)
    }
  }

  &-block {
    height: 100vh;
    display: flex;

    &__group {
      height: inherit;
      width: 40%;

      &--item {
        height: 50%;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
      }
    }

    &__one {
      height: inherit;
      width: 60%;

      &--item {
        height: 100%;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
      }
    }
  }

  &__dots {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    padding-top: 5rem;

    @include multiple-media(mobileScreen, tabletScreen) {
      display: none;
    }

    &--left, &--right {
      flex: 1;
      cursor: pointer;
      z-index: 999;
    }

    &--left {
      cursor: url("./assets/left.png"), auto;
    }

    &--right {
      cursor: url("./assets/right.png"), auto;
    }
  }
}
