.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include multiple-media(mobileScreen, mobileScreenLandscape, tabletScreen) {
    flex-direction: column;
    height: calc(100vh/1.5 - 2rem);
    display: none;
  }

  .headline {
    flex-basis: calc(100%/12 * 8);
    max-width: calc(100%/12 * 8);

    @include multiple-media(mobileScreen) {
      flex-basis: 100%;
      max-width: 100%;
    }

    &-single {
      font-family: IntegralExtraBoldWebFont, sans-serif;
      font-size: 3rem;
      text-transform: uppercase;
      line-height: .9;
    }

    &-multi {

      &--item {
        font-family: IntegralExtraBoldWebFont, sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: .93;
      }
    }
  }

  .description {
    flex-basis: calc(100%/12 * 4);

    @include multiple-media(mobileScreen) {
      flex-basis: unset;
      width: 100%;
    }

    &-text {
      font-size: 1rem;
      text-transform: uppercase;
      text-align: right;

      @include multiple-media(mobileScreen) {
        text-align: left;
      }
    }

    &-link {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
