.header {
  position: fixed;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

  @include multiple-media(mobileScreen) {
    z-index: 10;
    background-color: $black;
    position: relative;
  }

  &__logo {
    width: 20rem;
    cursor: pointer;

    @include multiple-media(mobileScreen) {
      z-index: 1000000;
    }
  }
  &__black {
    display: none;
  }

  &__navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    overflow-x: hidden;

    @include multiple-media(mobileScreen, mobileScreenLandscape) {
      display: none;
    }

    .nav-items {
      right: -100%;
      position: relative;

      @include multiple-media(tabletScreen) {
        right: -150%;
      }
    }

    &--item {
      padding-left: 1rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
    padding-left: 1rem;

    @include multiple-media(mobileScreen, tabletScreen) {
      z-index: 1000000;
    }

    @include multiple-media(mobileScreenLandscape) {
      display: none;
    }
  }

  .bar1, .bar2, .bar3 {
    width: 1.4rem;
    height: 2px;
    background-color: $white;
    margin: .45rem 0;
    transition: 0.4s;

    @include multiple-media(mobileScreen, tabletScreen) {
      width: 2rem;
    }
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-.5rem, .35rem);
    transform: rotate(-45deg) translate(-.5rem, .35rem);

    @include multiple-media(mobileScreen, tabletScreen) {
      transform: rotate(-45deg) translate(-0.6rem, 0.5rem)
    }
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-.4rem, -.3rem);
    transform: rotate(45deg) translate(-.4rem, -.3rem);

    @include multiple-media(smallScreen, mediumScreen) {
      transform: rotate(45deg) translate(-0.5rem, -0.4rem)
    }
  }

  .header-navigation-mobile {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $black;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__menu {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;

      &--item {
        font-family: IntegralExtraBoldWebFont, sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: .9;

        @include multiple-media(mobileScreen, tabletScreen) {
          padding-bottom: 1rem;
        }

        &:nth-child(5) {

          @include multiple-media(tabletScreen) {
            display: none;
          }
        }
        &:nth-child(6) {
          @include multiple-media(tabletScreen) {
            display: none;
          }
        }
      }

      .slick-track {
        height: auto !important;
      }
    }

    &__call {
      padding: 1rem;
      position: fixed;
      bottom: 0;

      &--item {
        font-family: IntegralExtraBoldWebFont, sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: .9;

        @include multiple-media(tabletScreen) {
          display: none;
        }
      }
    }
  }
}

.amenities-map {

  @include multiple-media(mobileScreen, tabletScreen) {
    background-color: $white;
    margin-right: 3rem;
  }

  .header__logo {
    display: none;
  }

  .header__black {
    display: block;
    width: 20rem;
  }
}
