@font-face {
  font-family: "IntegralExtraBoldWebFont";
  src: url(./fonts/integralcf-extrabold-webfont.woff) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  font-size: 10px;

  //from 601px to 1199px
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }

  //from 1200px to 1366px
  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    font-size: 12px;
  }

  //from 1367px to 1600px
  @media screen and (min-width: 1367px) and (max-width: 1600px) {
    font-size: 14px;
  }

  //from 1601px
  @media screen and (min-width: 1601px) {
    font-size: 16px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}

#app {
  font-family: Helvetica, Arial , sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}
