#fullpage {
  @include multiple-media(mobileScreen, tabletScreen) {
    background-color: $black;
  }

  .fp-tableCell {

    @include multiple-media(mobileScreen) {
      height: calc(var(--vh, 1vh)*100 - 4.4rem) !important;
      display: flex;
      flex-direction: column;
    }

    @include multiple-media(tabletScreen) {
      //height: calc(var(--vh, 1vh)*100) !important;
      display: flex;
      flex-direction: column;
    }
  }

  .slick-dots {
    @include multiple-media(mobileScreen, tabletScreen) {
      bottom: 0;
      text-align: left;
      display: flex;
      padding-left: 1rem;
      width: auto;
    }

    li {
      @include multiple-media(mobileScreen, tabletScreen) {
        margin: 0;
        width: 1rem;
      }

      button {
        width: 1rem;

        &::before {
          width: 1rem;
        }
      }

    }

    & li.slick-active button:before {
      @include multiple-media(mobileScreen, tabletScreen) {
        color: #fff;
        opacity: 1;
      }
    }

    & li button:before {
      @include multiple-media(mobileScreen, tabletScreen) {
        opacity: 0.5;
        color: white;
      }
    }
  }

  .content {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
    position: relative;

    @include multiple-media(mobileScreen, tabletScreen) {
      display: flex;
    }

    @include multiple-media(mobileScreenLandscape) {
      display: none;
    }

    //@include multiple-media(tabletScreen) {
    //  height: calc(100%/1.5 - 3.2rem);
    //}

    &--link {
      position: absolute;
      right: 1rem;
      top: -2rem;
      display: none;
      text-transform: uppercase;

      @include multiple-media(mobileScreen, tabletScreen) {
        display: flex;
      }
    }

    &__headline {
      font-family: IntegralExtraBoldWebFont, sans-serif;
      font-size: 3rem;
      text-transform: uppercase;
      line-height: .93;
    }

    &__description {
      font-size: 1rem;
      text-transform: uppercase;
      text-align: left;
    }
  }
}
