<template>
    <div class="amenities-modal">
      <div class="amenities-modal__body">
        <div class="content-image">
          <div class="content-image__views">
            <img :src="imagePath" alt="amenities">
          </div>
          <div class="content__views">
            <span @click="switchImage('a1')">View1</span>
            <span @click="switchImage('a2')">View2</span>
            <span @click="switchImage('a3')">View3</span>
          </div>
        </div>
        <div class="content__text">
          <span class="content__text--title">Amenities at a glance</span>
          <div class="content__text__wrapper">
            <span class="content__text__wrapper--title" v-for="(item, index) in content" :key="index">{{ item }}</span>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      name: "Amenities",
      data: () => ({
        content: ['ATTENDED LOBBY', 'OUTDOOR TERRACES', 'SKY CLUB', 'CO-WORKING LOUNGE', 'FITNESS CENTER', 'INDOOR POOL',
        'YOGA /BARRE STUDIO', 'SAUNA', 'BASKETBALL COURT', 'BOXING CLASSES', 'SPIN ROOM', 'ART GALLERIES', 'GAME ROOM',
        'BOCCE COURTS', 'POKER LOUNGE', 'INDOOR COURTYARD', 'GOLF SIMULATORS', 'PET CARE CENTER', 'PARKING', 'STORAGE', 'BICYCLE ROOM'],
        imagePath: require('../assets/a1.jpg')
      }),
      methods: {
        switchImage(value) {
          this.imagePath = require('../assets/' + value + '.jpg')
        }
      }
    }
</script>

<style scoped>

</style>
