<template>
    <div class="availability">
      <div class="availability-table" v-if="!this.showApartmentInfo">
        <div class="table-header">
            <span class="table-header--title">List Only</span>
            <div class="table-head">
              <div class="table-head__items">
                <input class="table-head__items--check" type="checkbox" @click="checkSelected(0)">
                <span class="table-head__items--text">Studio</span>
              </div>
              <div class="table-head__items">
                <input class="table-head__items--check" type="checkbox" @click="checkSelected(1)">
                <span class="table-head__items--text">1Bedroom</span>
              </div>
              <div class="table-head__items">
                <input class="table-head__items--check" type="checkbox" @click="checkSelected(2)">
                <span class="table-head__items--text">2Bedroom</span>
              </div>
              <div class="table-head__items">
                <input class="table-head__items--check" type="checkbox" @click="checkSelected(3)">
                <span class="table-head__items--text">3Bedroom</span>
              </div>
            </div>
          </div>
        <div class="table-body">
          <div class="table-container" role="table">
            <div class="flex-table" role="rowgroup">
              <div class="flex-row first" role="columnheader">Unit</div>
              <div class="flex-row" role="columnheader">Bed</div>
              <div class="flex-row" role="columnheader">Bath</div>
              <div class="flex-row" role="columnheader">Outdoor</div>
              <div class="flex-row" role="columnheader">Exposure</div>
              <div class="flex-row flex-prices" role="columnheader">Price</div>
              <div class="flex-row flex-download-header" role="columnheader">Download</div>
            </div>
            <div class="items-content">
              <div class="flex-table flex-content" role="rowgroup" v-for="(apartment, index) in apartments" :key="index" @click.stop="showInfo2">
                <div class="flex-row first" role="cell">{{apartment.unit}}</div>
                <div class="flex-row" role="cell">{{apartment.bedroom}}</div>
                <div class="flex-row" role="cell">{{apartment.bathroom}}</div>
                <div class="flex-row" role="cell">{{apartment.outdoor}}</div>
                <div class="flex-row" role="cell">{{apartment.exposure}}</div>
                <div class="flex-row flex-price" role="cell">{{apartment.price}}</div>
                <div class="flex-row flex-download" role="cell">
                  <img @click.prevent="showInfo" class="flex-download--image" src="../assets/plan.svg" alt="download">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="availability-item" v-if="showApartmentInfo">
        <div class="availability-item__image">
          <img src="../assets/fp.png" alt="Plan">
          <div class="availability-item__close" @click="closeModal">
            <img src="../assets/close.svg" alt="Close">
          </div>

        </div>
        <div class="availability-item__form">
          <div class="item-info">
            <span class="item-info--text">{{ apartmentInfo.number }}</span>
            <span class="item-info--text">{{ apartmentInfo.info }}</span>
            <span class="item-info--text">+ {{ apartmentInfo.additional }}</span>
            <span class="item-info--text">${{ apartmentInfo.price }}</span>
          </div>
          <span class="item-plan">{{ floorPlan }}</span>
          <div class="item-form">
            <div class="field">
              <input class="field--input" type="text" v-model="formData.firstName" required>
              <label class="field--label">First Name</label>
            </div>
            <div class="field">
              <input class="field--input" type="text" v-model="formData.lastName" required>
              <label class="field--label">Last Name</label>
            </div>
            <div class="field">
              <input class="field--input" type="text" v-model="formData.email" required>
              <label class="field--label">E-Mail</label>
            </div>

            <button class="item-form--submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      name: "Availability",
      data: () => ({
       apartmentInfo: {
         number: 'B - 11 C',
         info: '1 Beadroom, 1 Bath',
         additional: 'Home Ofice',
         price: '3450'
       },
       floorPlan: 'Please enter your name and email address to download a full size floor plan',
       formData: {
         firstName: '',
         lastName: '',
         email: ''
       },
       showApartmentInfo: false,
       filterTable: [],
       apartmentsInit: [
         {
           unit: 404,
           bedroom: 1,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 2,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 3,
           bathroom: 2,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 0,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 1,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 2,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 3,
           bathroom: 2,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 0,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 1,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 2,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 3,
           bathroom: 2,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         },
         {
           unit: 404,
           bedroom: 0,
           bathroom: 1,
           outdoor: '',
           exposure: 'N/A',
           price: '$2,950',
           download: ''
         }
       ],
       apartments: null
      }),
      mounted() {
        this.apartments = this.apartmentsInit
        this.$bus.on('backToAvailability', (value) => {
          this.showApartmentInfo = value
        })
      },
      methods: {
        showInfo() {
          this.showApartmentInfo = !this.showApartmentInfo
          this.$bus.emit('apartmentInfo', this.showApartmentInfo)
        },
        checkSelected(value) {
          if(this.filterTable.includes(value)) {
            const index = this.filterTable.indexOf(value);
            if (index > -1) {
              this.filterTable.splice(index, 1);
            }
          } else {
            this.filterTable.push(value)
          }
          if(this.filterTable.length) {
            let sortedApartments = []
            for (let i=0; i < this.apartmentsInit.length; i++) {
              if(this.filterTable.includes(this.apartmentsInit[i].bedroom)) {
                sortedApartments.push(this.apartmentsInit[i])
              }
            }
            this.apartments = sortedApartments
          }
          if(!this.filterTable.length) {
            this.apartments = this.apartmentsInit
          }
        },
        showInfo2() {
          if(window.innerWidth < 1200) {
            this.showApartmentInfo = !this.showApartmentInfo
            this.$bus.emit('apartmentInfo', this.showApartmentInfo)
          }
        },
        closeModal() {
          this.$bus.emit('backToAvailability', false)
          this.showApartmentInfo = false
        }
      }
    }
</script>

<style scoped>

</style>
