<template>
    <div class="inquiries">
      <div class="inquiries__group">
        <div class="inquiries__field">
          <input class="inquiries__field--input" type="text" v-model="userData.firstName" required>
          <label class="inquiries__field--label">First Name *</label>
        </div>
        <div class="inquiries__field">
          <input class="inquiries__field--input" type="text" v-model="userData.lastName" required>
          <label class="inquiries__field--label">Last Name</label>
        </div>
        <div class="inquiries__field">
          <input class="inquiries__field--input" type="text" v-model="userData.email" required>
          <label class="inquiries__field--label">Email *</label>
        </div>
        <div class="inquiries__field">
          <input class="inquiries__field--input" type="text" v-model="userData.phone" required>
          <label class="inquiries__field--label">Phone</label>
        </div>
      </div>
      <div class="inquiries__group">
        <div class="inquiries__field">
          <input class="inquiries__field--input" type="text" v-model="userData.date" required data-placeholder="" aria-required="true">
          <label class="inquiries__field--label">Move in Date *</label>
        </div>
        <div class="inquiries__field">
          <select class="inquiries__field--input" type="text" v-model="userData.unitType" required>
            <option style="display:none" disabled  value></option>
            <option value="Studio">Studio</option>
            <option value="AlcoveStudio">Alcove Studio</option>
            <option value="1Bedroom">1Bedroom</option>
            <option value="2Bedroom">2Bedroom</option>
            <option value="3Bedroom">3Bedroom</option>
          </select>
          <label class="inquiries__field--label">Unit Type *</label>
        </div>
        <div class="inquiries__field">
          <input class="inquiries__field--input" type="text" v-model="userData.budget" required>
          <label class="inquiries__field--label">Monthly budget *</label>
        </div>
        <div class="inquiries__field">
          <select class="inquiries__field--input" type="text" v-model="userData.hearAboutUs" required>
            <option style="display:none" disabled  value></option>
            <option value="Streeteasy">Streeteasy</option>
            <option value="Broker">Broker</option>
            <option value="BuildingSignage">Building Signage</option>
            <option value="LiveInNeighborhood">Live In Neighborhood</option>
            <option value="Facebook">Facebook</option>
            <option value="Instagram">Instagram</option>
            <option value="Google">Google</option>
            <option value="NewYorkTimes">New York Times</option>
            <option value="ResidentReferral">Resident Referral</option>
            <option value="OutsideReferral">Outside Referral</option>
            <option value="Renthop">Renthop</option>
            <option value="NakedApartments">Naked Apartments</option>
            <option value="Other">Other</option>
          </select>
          <label class="inquiries__field--label">Here about us?</label>
        </div>
      </div>
      <div class="inquiries__group">
        <div class="inquiries__textarea">
          <label for="message" class="">Message</label>
          <textarea name="message" id="message" cols="30" rows="10" v-model="userData.comments"></textarea>
        </div>
        <div class="inquiries__button">
          <button @click="submitted">Submit</button>
        </div>
      </div>
      <div class="inquiries__group inquiries__footer">
        <p>
          Sponsor: 5POINTZ LLC G & M Reality, LP 1 Executive Drive Edgewood, NY 11717 Property Location:
          22-44 Jackson Avenue, Long Island City New York 11000 Artist renderings and images are for illustrative purposes only.
        </p>
        <div class="housing">
          <img src="../assets/eho.svg" class="housing--image" alt="home">
          <span class="housing--opportunity">EQUAL HOUSING OPPORTUNITY  </span>
          <span class="housing--privacy"> We respect your privacy! <a href="http://5pointzlic.com/disclaimer.html" target="_blank">Learn more</a></span>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      name: "Inquiries",
      data: () => ({
        userData: {
          firstName: '',
          lastName: '',
          email: '',
          phone: '',
          date: '',
          unitType: '',
          budget: '',
          hearAboutUs: '',
          comments: ''
        },
      }),
      methods: {
        submitted() {
          // call API & send data when submit form
        }
      },
    }
</script>

<style scoped lang="scss">
  input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type="date"]:focus::before,
  input[type="date"]:valid::before { display: none }

  input {
    -webkit-appearance: none;
  }
  input::-webkit-inner-spin-button, {
    display: none;
    -webkit-appearance: none;
  }
</style>
