<template>
  <div class="map-modal">
    <app-map></app-map>
  </div>
</template>

<script>
  import Map from "@/components/Map";
  export default {
    name: "NeigMap",
    components: {
        'app-map': Map
    }
  }
</script>

<style scoped>

</style>
