<template>
  <div>
    <app-header
      @openModal="openModal"
      :toggleNavigation="isOpen"
      :style="[isOpen ? {marginRight: '5rem', zIndex: 1001} : null]"
      :class="[ modalName === 'amenities' ? 'amenities-map' : null ]"
    />
    <div>
      <app-home @openModal="openModal"/>
      <app-footer v-show="!isOpen" @openModal="openModal" />
    </div>
    <app-modal
      v-if="isOpen"
      @closeModal="closeModal"
      :class="[ modalName === 'amenities' ? 'amenities-modal' : null ]"
    >
      <app-availability slot="content" v-if="modalName === 'availability'" />
      <app-inquiries slot="content" v-if="modalName === 'inquiries'" />
      <app-amenities slot="content" v-if="modalName === 'amenities'" />
      <app-neighborhood slot="content" v-if="modalName === 'neighborhood'"/>
    </app-modal>
  </div>
</template>

<script>
    import Header from "@/layouts/Header";
    import Modal from "@/components/Modal";
    import Availability from "@/modals/Availability";
    import Inquiries from "@/modals/Inquiries";
    import Amenities from "@/modals/Amenities";
    import NeigMap from "@/modals/NeigMap";
    import Footer from "@/layouts/Footer";
    import Home from "@/pages/Home";

    export default {
        name: "Main",
        components: {
          'app-header': Header,
          'app-footer': Footer,
          'app-modal': Modal,
          'app-availability': Availability,
          'app-inquiries': Inquiries,
          'app-amenities': Amenities,
          'app-neighborhood': NeigMap,
          'app-home': Home
        },
        data: () => ({
          modalName: '',
          isOpen: false
        }),
        mounted () {
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);
        },
        methods: {
          closeModal(value) {
            this.isOpen = !value
            this.modalName = ''
          },
          openModal(value) {
            this.isOpen = true;
            this.modalName = value
          }
        }
    }
</script>

<style scoped>

</style>
