.amenities-modal {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: auto;

  @include multiple-media(mobileScreen, tabletScreen) {
    overflow: auto;
    height: 100%;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    padding: 0 1rem 1rem 1rem;
    margin-top: 4rem;
    overflow-y: hidden;

    @include multiple-media(mobileScreen, tabletScreen) {
      flex-direction: column;
      overflow: hidden;
      margin-top: 0;
    }


    .content-image {
      width: calc(100%/12 * 8);
      display: flex;
      flex-direction: column;

      @include multiple-media(mobileScreen, tabletScreen) {
        flex-grow: 1;
        display: flex;
        width: 100%;
      }

      &__views {
        height: 100%;
        width: 100%;
        display: flex;

        @include multiple-media(mediumScreen) {

        }
        @include multiple-media(smallScreen) {

        }

        img {
          width: 85%;
          margin: auto 0;

          @include multiple-media(mobileScreen, tabletScreen) {
            width: 100%;
          }
        }
      }
      .content__views {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include multiple-media(mobileScreen, tabletScreen) {
          flex-direction: row;
          justify-content: center;
          padding-top: 1rem;
        }

        span {
          color: $black;
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          cursor: pointer;

          @include multiple-media(mobileScreen, tabletScreen) {
            padding: 0 1rem;
          }
        }
      }

    }

    .content__text {
      display: flex;
      flex-direction: column;
      width: calc(100%/12* 4);

      @include multiple-media(mobileScreen, tabletScreen) {
        flex-grow: 1;
        width: 100%;
        margin-top: 2rem;
        overflow: hidden;
      }

      &--title {
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 1rem;

        @include multiple-media(mobileScreen, tabletScreen) {
          text-align: center;
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        text-align: right;

        @include multiple-media(mobileScreen, tabletScreen) {
          text-align: center;
          overflow: hidden;
        }

        &--title {
          text-transform: uppercase;
          font-size: 3rem;
          font-family: IntegralExtraBoldWebFont, sans-serif;
          line-height: .9;
        }
      }
    }
  }
}
