.availability {
  width: 87rem;
  height: 66vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  overflow: hidden;

  @include multiple-media(mobileScreen, tabletScreen) {
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    height: calc(var(--vh, 1vh) * 100 - 4.4rem);
  }

  @include multiple-media(mobileScreen, tabletScreen) {
    height: calc(var(--vh, 1vh) * 100);
  }

  @include multiple-media(smallScreen) {
    width: 100%;
  }

  &-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    @include multiple-media(smallScreen) {
      margin-left: 1rem;
    }

    @include multiple-media(mobileScreen, tabletScreen) {
      padding: 1rem;
      height: unset;
    }

    @include multiple-media(tabletScreen) {
      margin-top: 5rem;
    }

    .table-header {
      //display: flex;
      // flex-direction: column;

      &--title {
        text-transform: uppercase;
        margin-bottom: 1rem;
        display: block;
      }

      .table-head {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        @include multiple-media(mobileScreen, tabletScreen) {
          flex-direction: column;
          align-items: flex-start;
        }

        &__items {
          padding-right: 1rem;
          position: relative;
          display: flex;
          height: 100%;

          @include multiple-media(mobileScreen, tabletScreen) {
            padding-bottom: 1rem;
            padding-right: 1rem;
          }

          &--check {
            -webkit-appearance: initial;
            appearance: initial;
            background: transparent;
            width: 2.2rem;
            height: 2.2rem;
            border: 2px solid $white;
            position: relative;
            margin-right: .5rem;

            &:focus {
              outline:0;
            }
            &:checked:after {
              content: url("./assets/close.svg");
              width: 2rem;
              color: $white;
              /* The following positions my tick in the center,
               * but you could just overlay the entire box
               * with a full after element with a background if you want to */
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              /*
               * If you want to fully change the check appearance, use the following:
               * content: " ";
               * width: 100%;
               * height: 100%;
               * background: blue;
               * top: 0;
               * left: 0;
               */
            }
          }

          &--text {
            font-family: IntegralExtraBoldWebFont, sans-serif;
            font-size: 3rem;
            line-height: .9;
          }
        }
      }
    }

    .table-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;

      .table-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .items-content {
          overflow-y: auto;
          flex-grow: 1;

          @include multiple-media(mobileScreenLandscape) {
            flex-grow: 0;
            height: 4rem
          }
        }

        .flex-table {
          display: flex;
          margin-right: 1rem;
          border-bottom: 2px solid $white;
          padding: 1rem 0;

          @include multiple-media(mobileScreen, tabletScreen) {
            margin-right: 0;
          }

          .flex-row {
            text-align: left;
            text-transform: uppercase;
            font-size: 1rem;

            &:nth-child(1) {
              text-align: left;
              width: calc(100% / 14 * 2);
            }
            &:nth-child(2) {
              width: calc(100% / 14 * 1);
            }
            &:nth-child(3) {
              width: calc(100% / 14 * 1);

              @include multiple-media(mobileScreen, tabletScreen) {
                padding-right: .5rem;
              }
            }
            &:nth-child(4) {
              width: calc(100% / 14 * 4);
            }
            &:nth-child(5) {
              width: calc(100% / 14 * 3);
            }
            &:nth-child(6) {
              width: calc(100% / 14 * 2);
            }

            &:last-child {
              width: calc(100% / 14 * 1);
              text-align: right;
            }
          }

          .flex-download-header {
            @include multiple-media(mobileScreen, tabletScreen) {
              display: none;
            }
          }

          .flex-prices {
            @include multiple-media(mobileScreen, tabletScreen) {
              text-align: right;
            }
          }

          .flex-download {
            @include multiple-media(mobileScreen, tabletScreen) {
              display: none;
            }

            &--image {
              width: 2rem;
              cursor: pointer;
            }
          }
        }

        .flex-content {

          .flex-row {
            font-family: IntegralExtraBoldWebFont, sans-serif;
            font-size: 3rem;
            line-height: .9;

            @include multiple-media(mobileScreen, tabletScreen) {
              font-family: Helvetica, Arial, sans-serif;
              font-size: 1rem;
              line-height: .9;
            }
          }

          .flex-price {

            @include multiple-media(mobileScreen, tabletScreen) {
              text-align: right;
            }
          }
        }
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    height: 100%;

    @include multiple-media(mobileScreen, tabletScreen) {
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
    }

    &__image {
      width: calc(100%/12 * 6);
      height: 100%;

      @include multiple-media(mobileScreen, tabletScreen) {
        height: 15rem;
        max-height: 15rem;
        display: flex;
        flex-grow: 1;
        width: 100%;
        align-items: flex-start;
      }

      //@include multiple-media(tabletScreen) {
      //  width: 100%;
      //  height: 40rem;
      //  max-height: 40rem;
      //  display: flex;
      //  flex-grow: 1;
      //  align-items: flex-start;
      //}

      img {
        display: flex;
        height: 100%;
        width: auto;
        margin-left: auto;
      }
    }

    &__close {
      display: none;
      flex-grow: 1;
      align-items: flex-start;

      @include multiple-media(mobileScreen, tabletScreen) {
        display: flex;
      }

      img {
        width: 2rem;
        margin-left: auto;
      }
    }

    &__form {
      padding-left: 4rem;

      @include multiple-media(mobileScreen, tabletScreen) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 2rem 0 0 0;
      }

      .item-info {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;

        &--text {

        }
      }

      .item-plan {
        text-transform: uppercase;
        margin: 1rem 0;
        display: block;
      }

      .item-form {

        .field {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 0;
          text-transform: uppercase;
          margin-bottom: 1rem;

          &--input {
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            color: $white;
            padding-bottom: 1rem;

            &:focus + label,
            &:not(:focus):valid + label {
              transform: translateY(3rem);
              font-size: .8rem;
            }

            &:focus {
              outline-width: 0;
            }
          }

          &--label {
            order: -1;
            transition: all 0.3s ease-in;
            transform: translateY(1rem);
            pointer-events: none;
            font-size: 1rem;
          }
        }

        &--submit {
          text-transform: uppercase;
          padding: 1rem 2rem;
          margin-top: 1rem;
          background-color: transparent;
          color: $white;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
