.inquiries {
  width: 60%;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  @include multiple-media(mobileScreen) {
    width: 100%;
    position: relative;
  }
  @include multiple-media(tabletScreen) {
    width: 100%;
  }

  @include multiple-media(mobileScreenLandscape) {
    margin: unset;
  }

  &__group {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;

    @include multiple-media(mobileScreen, tabletScreen) {
      flex-wrap: wrap;
      padding: 0 1rem;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 .5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include multiple-media(mobileScreen, tabletScreen) {
      width: 48%;
      padding: 0;
    }

    @include multiple-media(mobileScreenLandscape) {
      padding: 0 .5rem;
      width: 23%;
    }

    &--input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: $white;
      font-size: 1rem;
      text-transform: unset;
      padding-bottom: .5rem;

      &:focus + label,
      &:not(:focus):valid + label {
        transform: translateY(3rem);
        font-size: .8rem;

        //@include multiple-media(largeScreen) {
        //  transform: translateY(52px);
        //}
      }

      &:focus {
        outline-width: 0;
      }
    }

    &--label {
      order: -1;
      transition: all 0.3s ease-in;
      transform: translateY(1rem);
      pointer-events: none;
      font-size: 1rem;
    }
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2rem 0rem 0 .5rem;
    text-transform: uppercase;

    @include multiple-media(mobileScreen, tabletScreen) {
      padding: 2rem 0 0 0;
      width: 100%;
    }

    @include multiple-media(mobileScreenLandscape) {
      width: 75%;
      padding: 2rem 0rem 0 .5rem;
    }

    textarea {
      background-color: transparent;
      border: 1px solid $white;
      margin-right: 1rem;
      font-size: 1rem;
      color: #fff;
      padding: 1rem;
      text-transform: unset;
      max-width: 100%;

      @include multiple-media(mobileScreen, tabletScreen) {
        margin-right: 0;
      }

      @include multiple-media(mobileScreenLandscape) {
        margin-right: 1rem;
      }

      &:focus {
        outline-width: 0;
      }
    }
  }

  &__button {
    padding: 0 .5rem;

    @include multiple-media(mobileScreen, tabletScreen) {
      padding: 1rem 0 0 0
    }

    button {
      background-color: transparent;
      text-transform: uppercase;
      color: $white;
      padding: 1rem 2rem;
      cursor: pointer;
      font-size: 1rem;
      border: 1px solid $white;

    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: 3rem .5rem 0 .5rem;
    align-items: flex-start;
    font-size: .8rem;

    @include multiple-media(mobileScreen, tabletScreen) {
      padding: 3rem 1rem 0 1rem;
    }

    .housing {
      display: flex;
      align-items: center;
      padding-top: .5rem;

      &--image {
        width: 1rem;
        margin-right: .5rem;
      }

      &--opportunity {
        white-space: pre;
      }

      &--privacy {
        white-space: pre;
        text-transform: uppercase;

        a {
          color: $white;
        }
      }
    }
  }
}
