.map-modal {
    height: 100vh;
    margin-right: 1rem;

    @include multiple-media(mobileScreen) {
      margin-right: 0;
      height: calc(var(--vh, 1vh) * 100 - 3rem );
    }

    @include multiple-media(tabletScreen) {
      margin-right: 0;
      height: calc(var(--vh, 1vh) * 100);
    }

  .map {
    height: 100%;
    display: flex;

    @include multiple-media(mobileScreen, tabletScreen) {
      position: relative;
    }

    .mgl-map-wrapper {
      width: calc(100%/12 * 8);

      @include multiple-media(mobileScreen, tabletScreen) {
        width: 100%;
      }
    }

    .map-options {
      width: calc(100%/12 * 4);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-top: 5rem;
      padding-left: 1rem;

      @include multiple-media(mobileScreen, tabletScreen) {
        left: 0;
        position: absolute;
        bottom: 0;
        align-items: flex-start;
        padding: 1rem;
      }

      &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include multiple-media(mobileScreen, tabletScreen) {
          align-items: flex-start;
        }

        &--title {
          font-family: IntegralExtraBoldWebFont, sans-serif;
          font-size: 3rem;
          text-transform: uppercase;
          line-height: .9;
          cursor: pointer;
          white-space: nowrap
        }
      }

      &__results {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        margin-top: 2rem;
        overflow-y: auto;
        margin-bottom: 1rem;

        @include multiple-media(mobileScreen, tabletScreen) {
          display: none;
        }

        span {
          cursor: pointer;
        }
      }
    }
  }
}
