<template>
  <div>
    <full-page ref="fullpage" :options="options" id="fullpage">
      <div class="section" id="buildingSection">
        <slider
          :page-info="buildingSection"
          :name="'buildingSection'"
          :reset="resetSlide"
        />
        <div class="content">
          <h1 class="content__headline" v-html="headlines[0]"></h1>
          <p class="content__description">{{ descriptionText }}</p>
        </div>
      </div>
      <div class="section" id="amenitiesSection">
        <slider
          :page-info="amenitiesSection"
          :name="'amenitiesSection'"
          :reset="resetSlide"
        />
        <div class="content">
          <span class="content--link" @click="$emit('openModal', 'amenities')">amenities map</span>
          <h1 class="content__headline" v-html="headlines[1]"></h1>
          <p class="content__description">{{ descriptionText }}</p>
        </div>
      </div>
      <div class="section" id="residencesSection">
        <slider
          :page-info="residencesSection"
          :name="'residencesSection'"
          :reset="resetSlide"
        />
        <div class="content">
          <h1 class="content__headline" v-html="headlines[2]"></h1>
          <p class="content__description">{{ descriptionText }}</p>
        </div>
      </div>
      <div class="section" id="neighborhoodSection">
        <slider
          :page-info="neighborhoodSection"
          :name="'neighborhoodSection'"
          :reset="resetSlide"
        />
        <div class="content">
          <span class="content--link" @click="$emit('openModal', 'neighborhood')">View Map</span>
          <h1 class="content__headline" v-html="headlines[3]"></h1>
          <p class="content__description">{{ descriptionText }}</p>
        </div>
      </div>
      <div class="section" id="availabilitySection" v-if="mobileResolution">
        <availability />
      </div>
      <div class="section" id="inquiresSection" v-if="mobileResolution && !notTablet">
        <inquiries />
      </div>
    </full-page>
  </div>
</template>

<script>
  import Slider from "@/components/Slider";
  import Availability from "@/modals/Availability";
  import Inquiries from "@/modals/Inquiries";
  export default {
    data() {
      return {
        options: {
          onLeave: this.onLeave,
          anchors: ['building', 'amenities', 'residences', 'neighborhood', 'availability', 'inquires', 'map'],
          scrollingSpeed: 700 ,
          normalScrollElements: '.modal',
        },
        scrollSpeed: 700,
        mobileResolution: false,
        descriptionText: '',
        notTablet: false,
        buildingSection: [
          {
            image: 'layer1.jpg',
            information: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu enim felis. Donec mauris nisi, eleifend non convallis vulputate, sollicitudin ac quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum finibus'
          },
          {
            image: 'layer2.jpg',
            information: 'eleifend malesuada, elit magna bibendum ante, sit amet rutrum nisi ligula ut ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sed nibh at sem fermentum viverra vitae tristique libero. Etiam nec nisi vel neque egestas'
          },
          {
            image: 'layer3.jpg',
            information: 'Cras enim sapien, varius in risus sit amet, porta euismod diam. Nunc auctor diam sit amet dolor fringilla lacinia. Cras varius urna egestas, tincidunt urna a, maximus ipsum. Sed facilisis, nisi eget mattis placerat, elit nunc eleifend nisi, a mattis enim lectus at nunc.'
          },
          {
            image: 'layer4.jpg',
            information: 'Ut sapien tortor, varius eu nisl nec, fringilla congue sem. Maecenas feugiat vel velit quis sagittis. Mauris vel hendrerit tellus. Sed vulputate sem nisi. Praesent id elementum metus. Praesent faucibus, nisl vitae semper dapibus, orci lectus porttitor.'
          }
        ],
        amenitiesSection: [
          {
            image: 'layer5.jpg',
            information: 'Suspendisse libero ligula, ultrices id felis vitae, facilisis pretium leo. Pellentesque efficitur sem in bibendum laoreet. Sed sit amet nulla arcu. Sed bibendum varius pretium. Vivamus et sapien'
          },
          {
            image: 'layer6.jpg',
            information: 'accumsan elit. Duis in ex a justo luctus pretium. Praesent sollicitudin turpis id pharetra tristique. Quisque porta est ac lacus tempus, a lacinia tellus ullamcorper. Nulla eget sollicitudin'
          },
          {
            image: 'layer7.jpg',
            information: 'Suspendisse vestibulum mollis magna, in hendrerit lectus egestas vel. Integer eu eros ac sapien efficitur molestie. Aenean in enim non dui blandit sodales ac sit amet metus. Maecenas rutrum eleifend'
          },
          {
            image: 'layer5.jpg',
            information: 'Suspendisse libero ligula, ultrices id felis vitae, facilisis pretium leo. Pellentesque efficitur sem in bibendum laoreet. Sed sit amet nulla arcu. Sed bibendum varius pretium. Vivamus et sapien'
          },
          {
            image: 'layer6.jpg',
            information: 'accumsan elit. Duis in ex a justo luctus pretium. Praesent sollicitudin turpis id pharetra tristique. Quisque porta est ac lacus tempus, a lacinia tellus ullamcorper. Nulla eget sollicitudin'
          },
          {
            image: 'layer7.jpg',
            information: 'Suspendisse vestibulum mollis magna, in hendrerit lectus egestas vel. Integer eu eros ac sapien efficitur molestie. Aenean in enim non dui blandit sodales ac sit amet metus. Maecenas rutrum eleifend'
          },{
            image: 'layer5.jpg',
            information: 'Suspendisse libero ligula, ultrices id felis vitae, facilisis pretium leo. Pellentesque efficitur sem in bibendum laoreet. Sed sit amet nulla arcu. Sed bibendum varius pretium. Vivamus et sapien'
          },
          {
            image: 'layer6.jpg',
            information: 'accumsan elit. Duis in ex a justo luctus pretium. Praesent sollicitudin turpis id pharetra tristique. Quisque porta est ac lacus tempus, a lacinia tellus ullamcorper. Nulla eget sollicitudin'
          },
          {
            image: 'layer7.jpg',
            information: 'Suspendisse vestibulum mollis magna, in hendrerit lectus egestas vel. Integer eu eros ac sapien efficitur molestie. Aenean in enim non dui blandit sodales ac sit amet metus. Maecenas rutrum eleifend'
          },
          {
            image: 'layer5.jpg',
            information: 'Suspendisse vestibulum mollis magna, in hendrerit lectus egestas vel. Integer eu eros ac sapien efficitur molestie. Aenean in enim non dui blandit sodales ac sit amet metus. Maecenas rutrum eleifend'
          }
        ],
        residencesSection: [
          {
            image: 'layer8.jpg',
            information: 'Fusce eu sem sem. In ante purus, semper nec elementum sit amet, vehicula ac orci. Nulla sit amet neque sagittis magna iaculis tristique vitae eget purus. Mauris venenatis dui ipsum, a semper eros pharetra posuere. Nullam venenatis blandit lectus, vitae'
          },
          {
            image: 'layer9.jpg',
            information: 'Duis est diam, laoreet in est non, luctus tincidunt velit. In a velit tempus, egestas nunc et, placerat nunc. Nullam tristique, nisi vel accumsan auctor, nibh lacus congue erat, suscipit tincidunt nisl eros eu purus. Nunc aliquam sem justo, in tincidunt lectus lobortis'
          },
          {
            image: 'layer10.jpg',
            information: 'Mauris feugiat id lorem ut ornare. Nulla vestibulum sodales vulputate. In at vehicula mauris. Ut diam quam, ullamcorper et accumsan in, feugiat eu lectus. Sed nec ullamcorper elit, eget ultrices est. Sed orci dui, ultrices eget vestibulum ac, gravida ut.'
          },
          {
            image: 'layer11.jpg',
            information: 'Proin nec velit ligula. Fusce molestie dolor vel lorem pellentesque hendrerit. Nullam commodo eleifend ligula, non convallis quam venenatis vitae. Fusce ut justo ac nibh dignissim tristique congue bibendum magna. Donec eleifend dui turpis, nec'
          },
          {
            image: 'layer8.jpg',
            information: 'Fusce eu sem sem. In ante purus, semper nec elementum sit amet, vehicula ac orci. Nulla sit amet neque sagittis magna iaculis tristique vitae eget purus. Mauris venenatis dui ipsum, a semper eros pharetra posuere. Nullam venenatis blandit lectus, vitae'
          },
          {
            image: 'layer9.jpg',
            information: 'Duis est diam, laoreet in est non, luctus tincidunt velit. In a velit tempus, egestas nunc et, placerat nunc. Nullam tristique, nisi vel accumsan auctor, nibh lacus congue erat, suscipit tincidunt nisl eros eu purus. Nunc aliquam sem justo, in tincidunt lectus lobortis'
          },
          {
            image: 'layer10.jpg',
            information: 'Mauris feugiat id lorem ut ornare. Nulla vestibulum sodales vulputate. In at vehicula mauris. Ut diam quam, ullamcorper et accumsan in, feugiat eu lectus. Sed nec ullamcorper elit, eget ultrices est. Sed orci dui, ultrices eget vestibulum ac, gravida ut.'
          },
          {
            image: 'layer11.jpg',
            information: 'Proin nec velit ligula. Fusce molestie dolor vel lorem pellentesque hendrerit. Nullam commodo eleifend ligula, non convallis quam venenatis vitae. Fusce ut justo ac nibh dignissim tristique congue bibendum magna. Donec eleifend dui turpis, nec'
          },
          {
            image: 'layer8.jpg',
            information: 'Fusce eu sem sem. In ante purus, semper nec elementum sit amet, vehicula ac orci. Nulla sit amet neque sagittis magna iaculis tristique vitae eget purus. Mauris venenatis dui ipsum, a semper eros pharetra posuere. Nullam venenatis blandit lectus, vitae'
          },
          {
            image: 'layer9.jpg',
            information: 'Duis est diam, laoreet in est non, luctus tincidunt velit. In a velit tempus, egestas nunc et, placerat nunc. Nullam tristique, nisi vel accumsan auctor, nibh lacus congue erat, suscipit tincidunt nisl eros eu purus. Nunc aliquam sem justo, in tincidunt lectus lobortis'
          },
        ],
        neighborhoodSection: [
          {
            image: 'layer12.jpg',
            information: 'Cras in est dignissim, fermentum erat non, sollicitudin libero. Maecenas in erat vitae neque ultricies iaculis. Ut sodales metus sit amet justo vehicula, eu aliquam ligula rutrum. Donec consectetur'
          },
          {
            image: ['363_Lafayette-41@2x.png', 'Lafayette_POI_HiRes-106@2x.png', 'Lafayette_POI_HiRes-60@2x.png'],
            information: 'Aenean turpis risus'
          },
          {
            image: [ 'neigh3.jpg', 'neigh1.jpg', 'neigh2.jpg'],
            information: 'Cras nec ex lectus'
          },
          {
            image: ['363_Lafayette-41@2x.png', 'Lafayette_POI_HiRes-106@2x.png', 'Lafayette_POI_HiRes-60@2x.png'],
            information: 'Aenean turpis risus'
          },
          {
            image: [ 'neigh3.jpg', 'neigh1.jpg', 'neigh2.jpg'],
            information: 'Cras nec ex lectus'
          },
          {
            image: ['363_Lafayette-41@2x.png', 'Lafayette_POI_HiRes-106@2x.png', 'Lafayette_POI_HiRes-60@2x.png'],
            information: 'Aenean turpis risus'
          },
          {
            image: [ 'neigh3.jpg', 'neigh1.jpg', 'neigh2.jpg'],
            information: 'Cras nec ex lectus'
          },
          {
            image: [ 'neigh3.jpg', 'neigh1.jpg', 'neigh2.jpg'],
            information: 'Cras nec ex lectus'
          },
          {
            image: ['363_Lafayette-41@2x.png', 'Lafayette_POI_HiRes-106@2x.png', 'Lafayette_POI_HiRes-60@2x.png'],
            information: 'Aenean turpis risus'
          },
          {
            image: [ 'neigh3.jpg', 'neigh1.jpg', 'neigh2.jpg'],
            information: 'Cras nec ex lectus'
          },
        ],
        resetSlide: '',
        headlines: [
          "CREATE YOUR LIFE. <br> IN THE BUILDING OF YOUR DREAMZ.",
          "EXCEPTIONAL VIEW. <br> EXTENSIVE AMENITIES.",
          "DON’T BLAME IT ON US <br> IF IT’S LOVE AT FIRST SITE.",
          "INCREDIBLE NEIGHBORHOOD. <br> INCREDIBLY CLOSE TO EVERYTHING."
        ]
      }
    },
    components: {
      Slider,
      Availability,
      Inquiries
    },
    mounted() {
      if (window.innerWidth <= 1200 && window.innerWidth > 600 ) {
        this.notTablet = true
      }
      this.checkScreeWidth()
      this.$bus.on('changePage', (value) => {
        const screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if(screenWidth <= 1200) {
          this.$refs.fullpage.build();
          this.$refs.fullpage.api.setAllowScrolling(false)
        }
        this.$refs.fullpage.api.moveTo(value);
      })
      setTimeout(()=> {
        this.$bus.emit('description', this.buildingSection[0].information );
        this.descriptionText = this.buildingSection[0].information
        this.$bus.emit('multi-headline', {
          type: '',
          headline: this.headlines
        } );
      },100)
      this.$bus.on('description', (value) => {
        this.descriptionText = value
      })

    },
    methods: {
      onLeave(origin, destination, direction) {
        const nextSlide = destination.item.id
        if (nextSlide === 'availabilitySection' || nextSlide === 'inquiresSection' || nextSlide === 'mapSection') {
          return true
        }
        this.resetSlide = origin.item.id
        this.$bus.emit('description', this[nextSlide][0].information);
        this.$bus.emit('multi-headline', {
          type: direction,
          headline: this.headlines
        });

      },
      changePage(value) {
        this.$refs.fullpage.api.silentMoveTo(value);
      },
      checkScreeWidth() {
        const screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if(screenWidth <= 1200) {
        this.mobileResolution = true
         this.$refs.fullpage.api.setAllowScrolling(false)
          this.options.scrollingSpeed = 0
        }
      }
    }
  }
</script>
