<template>
  <div class="map">
    <MglMap :accessToken="accessToken" :mapStyle.sync="mapStyle" @click.native.stop.prevent="closeClick">
      <MglNavigationControl position="bottom-right" />
      <MglGeojsonLayer
        :sourceId="geoJsonSource.data.id"
        :source="geoJsonSource"
        layerId="somethingSomething"
        :layer="geoJsonLayer"
        @click="showTooltip($event)"
      >
      </MglGeojsonLayer>
      <MglPopup :coordinates="coordinates" anchor="bottom" :showed="showPopup" :closeButton="true">
        <div style="color: black">{{ popupText }}</div>
      </MglPopup>
    </MglMap>
    <div class="map-options">
      <img v-if="!showMenu" src="../assets/mapIcon.svg" alt="Icon" class="map-options__icon" @click="showMenu = !showMenu">
      <div class="map-options__head" v-if="showMenu">
        <span class="map-options__head--title" :style="[isActive !== 'dining' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('dining')">Restaurants</span>
        <span class="map-options__head--title" :style="[isActive !== 'shopping' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('shopping')">Shops</span>
        <span class="map-options__head--title" :style="[isActive !== 'wellness' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('wellness')">Parks & Wellness</span>
        <span class="map-options__head--title" :style="[isActive !== 'culture' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('culture')">Nightlife</span>
        <span class="map-options__head--title" :style="[isActive !== 'education' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('education')">Culture</span>
        <span class="map-options__head--title" :style="[isActive !== 'lodging' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('lodging')">Schools</span>
      </div>
      <div class="map-options__results">
        <div v-for="(result, index) in results" :key="index">
          <span @click="selectSingleLocation(result)"> - {{ result.properties.description }} </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Mapbox from "mapbox-gl";
  import {MglMap, MglGeojsonLayer, MglPopup, MglNavigationControl} from "vue-mapbox";
  import mapS from '../locals/style.json';
  import "mapbox-gl/dist/mapbox-gl.css";


  const localGeoJsonSource = {
    type: 'geojson',
    data: {
      id: "thisIsMySource",
      type: "FeatureCollection",
      features: [
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9554284, 40.7465464]
          },
          properties: {
            id: "value0",
            title: 'Convenience',
            description: 'Item 1',
            marker: 'dining'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9845085, 40.7292467]
          },
          properties: {
            id: "value1",
            title: 'Convenience1',
            description: 'Item 2',
            marker: 'shopping'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9526925, 40.74462]
          },
          properties: {
            id: "value10",
            title: 'Convenience1.1',
            description: 'Item 2.2',
            marker: 'shopping'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9494632, 40.7447826]
          },
          properties: {
            id: "value2",
            title: 'Convenience2',
            description: 'Item 3',
            marker: 'wellness'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9541409, 40.743856]
          },
          properties: {
            id: "value3",
            title: 'Convenience3',
            description: 'Item 4',
            marker: 'culture'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9558897, 40.7445144]
          },
          properties: {
            id: "value4",
            title: 'Convenience4',
            description: 'Item 5',
            marker: 'education'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9832439, 40.7276683]
          },
          properties: {
            id: "value5",
            title: 'Convenience5',
            description: 'Item 6',
            marker: 'lodging'
          }
        }
      ]
    },
  }
  const localGeoJsonSourceInit = {
    type: 'geojson',
    data: {
      id: "thisIsMySource",
      type: "FeatureCollection",
      features: [
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9871129, 40.7290149]
          },
          properties: {
            id: "value0",
            title: 'Convenience',
            description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
            marker: 'dining'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9845085, 40.7292467]
          },
          properties: {
            id: "value1",
            title: 'Convenience1',
            description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
            marker: 'shopping'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9896946, 40.7287609]
          },
          properties: {
            id: "value2",
            title: 'Convenience2',
            description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
            marker: 'wellness'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9885814, 40.7310109]
          },
          properties: {
            id: "value3",
            title: 'Convenience3',
            description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
            marker: 'culture'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9853561, 40.7271246]
          },
          properties: {
            id: "value4",
            title: 'Convenience4',
            description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
            marker: 'education'
          }
        },
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [-73.9832439, 40.7276683]
          },
          properties: {
            id: "value5",
            title: 'Convenience5',
            description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
            marker: 'lodging'
          }
        }
      ]
    },
  }

  export default {
    name: "Map",
    components: {
      MglMap,
      MglGeojsonLayer,
      MglNavigationControl,
      MglPopup
    },
    data: () => ({
      isActive: '',
      coordinates: [-73.9895693, 40.7283021],
      accessToken: 'pk.eyJ1IjoibWlsYW5rIiwiYSI6ImNrMWxtMzNoczA3NTkzY3F4YmlpYW90ODEifQ.niMMVZ3Nc2EQMKkV5Qkb_Q',
      mapStyle: null,
      geoJsonSource: null,
      geoJsonLayer: {
        type: "circle",
        paint: {
          "circle-color": "white"
        }
      },
      features: [],
      results: [],
      showMenu: true,
      showPopup: false,
      popupCoordinates: [],
      popupText: ''
    }),
    created() {
      this.mapbox = Mapbox;
      this.mapStyle = mapS;
      this.geoJsonSource = localGeoJsonSourceInit;

      this.selectLocation('dining')
      // this.showPopup = true
    },
    methods: {
      showTooltip(event) {
        const coord = event.mapboxEvent.lngLat
        for(let i=0; i<this.results.length; i++) {
          const check = this.arraysEqual([ coord.lng, coord.lat], this.results[i].geometry.coordinates)
          if(check) {
            this.popupText = this.results[i].properties.description
          }
        }
        this.coordinates = [ coord.lng, coord.lat]
        this.showPopup = !this.showPopup
      },
      arraysEqual(arr1, arr2) {
        if(arr1.length !== arr2.length) {
          return false
        }
        for(let i = arr1.length; i--;) {
          if(arr1[i].toFixed(3) !== parseFloat(arr2[i]).toFixed(3))
            return false;
        }

        return true;
      },
      selectLocation(marker) {
        this.showPopup = true

        this.isActive = marker;
        let newFeatures = [];
        this.results = [];

        localGeoJsonSource.data.features.forEach(element => {
          if(element.properties.marker ===  marker){
            newFeatures.push(element)
            this.results.push(element)
          }
        });
        this.geoJsonSource.data.features =  newFeatures
        if(window.innerWidth <= 1200) {
          this.showMenu = false
        } else {
          this.showMenu = true
        }
        this.showPopup = true
      },

      selectSingleLocation(marker) {
        let newLocation = [];
        this.coordinates = []
        this.popupText = ''
        localGeoJsonSource.data.features.forEach(element => {
          if(element.properties.id ===  marker.properties.id){
            newLocation.push(element)
            for(let i=0; i < element.geometry.coordinates.length; i++) {
              this.coordinates.push(element.geometry.coordinates[i])
              this.popupText = element.properties.description
            }
          }
          this.showPopup = !this.showPopup
        });
        this.geoJsonSource.data.features =  newLocation

        if(this.showPopup) {
          this.showPopup = false
        }
      },
      closeClick() {
        // this.showPopup = true
      }
    }
  }
</script>
<style>
  .mapboxgl-ctrl button .mapboxgl-ctrl-icon {
    display: block;
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    padding: 0 5px;
    background-color: hsla(0,0%,100%,0);
    margin: 0;
  }
  .mapboxgl-ctrl-attrib a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
  }
  .mapboxgl-popup-close-button {
    visibility: hidden;
  }
  .mapboxgl-popup-content {
    padding: 10px 10px 10px;
  }
  .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
    padding-bottom: .5rem;
  }

  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-compact {
    display: none;
  }
</style>
