<template>
  <div class="modal">
    <transition name="modal">
      <div>
        <div class="modal__close" @click="closeModal">
          <img class="modal__close--white" src="../assets/close.svg" alt="Close">
          <img class="modal__close--black" src="../assets/close-black.svg" alt="Close">
        </div>
        <div>
          <div class="modal__content">
            <slot name="content" />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
    export default {
        name: "Modal",
        data: () => ({
          availabilityValue: null
        }),
        methods: {
          closeModal() {
            if(this.availabilityValue) {
              this.$bus.emit('backToAvailability', false)
              this.availabilityValue = false
              return
            }
            this.$emit('closeModal', true)
          }
        },
        mounted() {
          this.$bus.on('apartmentInfo', (value) => {
            this.availabilityValue = value
          })
        }
    }
</script>

<style scoped>

</style>
