<template>
  <div class="slider">
    <VueSlickCarousel ref="carousel" v-bind="settings" @beforeChange="beforeChange">
      <template v-for="(page, index) in pageInfo">
        <div
          v-if="!Array.isArray(page.image)"
          :key="index"
          class="slider__image"
          :style="{backgroundImage: 'url(' + require('../assets/' + page.image) + ')'}"
        ></div>
        <div
          v-if="Array.isArray(page.image) && !mobileDevice"
          :key="index"
        >
          <div class="slider-block" v-if="index%2 === 0">
            <div class="slider-block__group">
              <div class="slider-block__group--item" :style="{ backgroundImage: 'url('+ require('../assets/' + page.image[0]) + ')'}"></div>
              <div class="slider-block__group--item" :style="{ backgroundImage: 'url('+ require('../assets/'+ page.image[1])  + ')'}"></div>
            </div>
            <div class="slider-block__one">
              <div class="slider-block__one--item" :style="{ backgroundImage: 'url('+ require('../assets/' +  page.image[2])  + ')'}"></div>
            </div>
          </div>
          <div class="slider-block" v-else>
            <div class="slider-block__one">
              <div class="slider-block__one--item" :style="{ backgroundImage: 'url('+ require('../assets/' +  page.image[2])  + ')'}"></div>
            </div>
            <div class="slider-block__group">
              <div class="slider-block__group--item" :style="{ backgroundImage: 'url('+ require('../assets/' + page.image[0]) + ')'}"></div>
              <div class="slider-block__group--item" :style="{ backgroundImage: 'url('+ require('../assets/'+ page.image[1])  + ')'}"></div>
            </div>
          </div>
        </div>
        <template
          v-if="Array.isArray(page.image) && mobileDevice"
        >
          <template v-for="(img, i) in page.image">
            <div
              :key="i"
              class="slider__image"
              :style="{backgroundImage: 'url(' + require('../assets/' + img) + ')'}"
            ></div>
          </template>
        </template>
      </template>
    </VueSlickCarousel>
    <div class="slider__dots">
      <div class="slider__dots--left" @click="showPrev" />
      <div class="slider__dots--right" @click="showNext" />
    </div>
  </div>
</template>

<script>
  import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  // optional style for arrows & dots
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

  export default {
    name: 'MyComponent',
    data: () => ({
      imageIndex: 0,
      wheelCount: 0,
      showFade: false,
      settings: {
        dots: false,
        arrows: false,
        infinite: true,
        fade: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: true,
              swipe: true,
              touchMove: true
            }
          }
        ]
      },
      mobileDevice: true
    }),
    props: {
      pageInfo: {
        type: [Object, Array],
        default: null
      },
      name: {
        type: String,
        default: ''
      },
      reset: {
        type: String,
        default: ''
      }
    },
    watch: {
      reset: function(newVal) { // watch it
        if(newVal === this.name) {
          this.$refs.carousel.goTo(0)
          this.imageIndex = 0
        }
      }
    },
    components: { VueSlickCarousel },
    mounted() {
      if(this.name === 'building') {
        this.$bus.emit('description', this.pageInfo[0].information);
        // this.$bus.emit('single-headline', this.pageInfo[0].headline);
      }
      setTimeout(() => {
        this.showFade = true
      }, 100)
      this.mobileDevice = window.innerWidth <= 1200;
    },
    methods: {
      showNext() {
        this.imageIndex++;
        if(this.pageInfo[this.imageIndex] == null) {
          this.imageIndex = 0
        }
        this.$bus.emit('description', this.pageInfo[this.imageIndex].information);
        // this.$bus.emit('single-headline', this.pageInfo[this.imageIndex].headline);
        this.$refs.carousel.next()
      },
      showPrev() {
        this.imageIndex--;
        if(this.pageInfo[this.imageIndex] == null) {
          this.imageIndex = this.pageInfo.length - 1
        }
        this.$bus.emit('description', this.pageInfo[this.imageIndex].information);
        // this.$bus.emit('single-headline', this.pageInfo[this.imageIndex].headline);
        this.$refs.carousel.prev()
      },
      handleWheel() {
        // if(this.wheelCount === 0) {
        //   event.preventDefault()
        //   if (event.deltaY < 0) {
        //     if(!this.pageConfig.prevPage) {
        //       return
        //     }
        //     this.wheelCount = 1
        //     this.$bus.emit('multi-headline', {
        //       headline: this.pageInfo[this.imageIndex].headline,
        //       type: 'prev'
        //     });
        //     this.$router.push({ name: this.pageConfig.prevPage, params: { multi: 'yes' } })
        //   }
        //   if (event.deltaY > 0) {
        //     if(!this.pageConfig.nextPage) {
        //       return
        //     }
        //     this.wheelCount = 1
        //     this.$bus.emit('multi-headline', {
        //       headline: this.pageInfo[this.imageIndex].headline,
        //       type: 'next'
        //     });
        //     this.$router.push({ name: this.pageConfig.nextPage, params: { multi: 'yes' } })
        //   }
        // }
      },
      beforeChange(slick, currentSlide) {
        if(slick > currentSlide) {
          this.showPrev()
        } else {
          this.showNext()
        }
      }
    }
  }
</script>

<style scoped>

</style>
