<template>
  <div id="app">
    <main-app />
  </div>
</template>

<script>
import Main from "@/views/Main";

export default {
  name: 'App',
  components: {
    'main-app': Main
  }
}
</script>

<style lang="scss">
  @import './scss/main';
</style>
