<template>
  <div class="footer">
    <div class="headline">
      <p class="headline-single" v-if="headlineStyle === 'single'">
        {{ singleHeadline }}
      </p>
      <div class="headline-multi" v-if="headlineStyle === 'multi'">
        <VueSlickCarousel
          ref="carouselFooter"
          v-bind="settings"
        >
          <span class="headline-multi--item" v-for="(headline, index) in multiHeadlines" :key="index" v-html="headline"></span>
        </VueSlickCarousel>
      </div>
    </div>
    <div class="description">
      <p class="description-text" v-html="description"></p>
      <p class="description-text description-link" v-if="showNeigh" @click="$emit('openModal', 'neighborhood')">view map</p>
      <p class="description-text description-link" v-if="showAmenities" @click="$emit('openModal', 'amenities')">amenities map</p>
    </div>
  </div>
</template>

<script>
  import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  // optional style for arrows & dots
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
  export default {
    name: "Footer",
    components: {
      VueSlickCarousel
    },
    data: () => ({
      singleHeadline: '',
      description: '',
      headlineStyle: '',
      multiHeadlines: [],
      baseHeadline: '',
      showNeigh: false,
      showAmenities: false,
      settings: {
        "dots": false,
        "arrows": false,
        "infinite": false,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "vertical": true,
        "verticalSwiping": false,
        "adaptiveHeight": true
      }
    }),
    mounted() {
      this.$bus.on('description', value => {
        this.description = value
      });
      this.$bus.on('single-headline', value => {
        this.singleHeadline = value
        this.headlineStyle = 'single'
      });
      this.$bus.on('multi-headline', value => {

          this.headlineStyle = 'multi'
          if(this.multiHeadlines.length === 0) {
            this.multiHeadlines = value.headline
          }
          if(value.type === 'down') {
            // this.multiHeadlines[0] = this.singleHeadline
            // this.multiHeadlines[1] = value.headline
            setTimeout(() => {
              this.showNext()
            },0)

          }
          if(value.type === 'up') {
            // this.multiHeadlines[0] = value.headline
            // this.multiHeadlines[1] = this.singleHeadline
            setTimeout(() => {
              this.showPrev()
            },0)
          }
          this.showNeigh = false
          this.showAmenities = false
          setTimeout(() => {
            if(location.hash === '#building' || location.hash === '') {
              this.$refs.carouselFooter.goTo(0)
            }
            if(location.hash === '#amenities') {
              this.$refs.carouselFooter.goTo(1)
              this.showAmenities = true
            }
            if(location.hash === '#residences') {
              this.$refs.carouselFooter.goTo(2)
            }
            if(location.hash === '#neighborhood') {
              this.$refs.carouselFooter.goTo(3)
              this.showNeigh = true
            }
          },100)

      });
      this.$bus.on('changePage', (value) => {
        this.showNeigh = false
        this.showAmenities = false
        if(value === 'neighborhood') {
          this.showNeigh = true
        }
        if(value === 'amenities') {
          this.showAmenities = true
        }
      })
    },
    methods: {
      showNext() {
        this.$refs.carouselFooter.next()
        // setTimeout(() => {
        //   this.singleHeadline = this.multiHeadlines[1]
        // },100)
      },
      showPrev() {
        this.$refs.carouselFooter.prev()
        // setTimeout(() => {
        //   this.singleHeadline = this.multiHeadlines[0]
        // },100)
      }
    }
  }
</script>

<style scoped>

</style>
