<template>
    <div class="header">
      <img src="../assets/logo.svg" alt="Logo" class="header__logo" @click="showPage('building')">
      <img src="../assets/logo-black.svg" alt="Logo" class="header__black" @click="showPage('building')">
      <div class="header__navigation" v-if="!toggleNavigation">
          <div class="nav-items" :class="{ items: navItems }">
            <span class="header__navigation--item" @click="showPage('building')">Building</span>
            <span class="header__navigation--item" @click="showPage('amenities')">Amenities</span>
            <span class="header__navigation--item" @click="showPage('residences')">Residences</span>
            <span class="header__navigation--item" @click="showPage('neighborhood')">Neighborhood</span>
            <span class="header__navigation--item" @click="$emit('openModal', 'availability')">Availability</span>
            <span class="header__navigation--item" @click="$emit('openModal', 'inquiries')">Inquiries</span>
          </div>
          <div class="nav-helper" :class="{ helper: navItems }">
            <span class="header__navigation--item" @click="$emit('openModal', 'availability')">Availability</span>
            <span class="header__navigation--item" @click="$emit('openModal', 'inquiries')">Inquiries</span>
          </div>
      </div>
      <div class="header-navigation-mobile" v-if="mobileNavigation">
        <div class="header-navigation-mobile__menu">
          <span class="header-navigation-mobile__menu--item" @click="showPage('building')">Building</span>
          <span class="header-navigation-mobile__menu--item" @click="showPage('amenities')">Amenities</span>
          <span class="header-navigation-mobile__menu--item" @click="showPage('residences')">Residences</span>
          <span class="header-navigation-mobile__menu--item" @click="showPage('neighborhood')">Neighborhood</span>
          <span class="header-navigation-mobile__menu--item" @click="showPage('availability')">Availability</span>
          <span class="header-navigation-mobile__menu--item" @click="showPage('inquires')">Inquiries</span>
        </div>
        <div class="header-navigation-mobile__call">
          <span class="header-navigation-mobile__call--item">Call</span>
        </div>

      </div>
      <div id="hamburger" class="hamburger" v-if="!toggleNavigation"  @click="toggleNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
</template>

<script>
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  import 'slick-carousel/slick/slick.css';
  export default {
    name: "Header",
    data() {
      return {
        navItems: false,
        mobileNavigation: false,
        settings: {
          dots: false,
          arrows: false,
          vertical: true,
          infinite: true,
          swipe: true,
          slidesToShow: 5,
          slidesToScroll: 1,
          verticalSwiping: true,
        }
      };
    },
    props: {
      toggleNavigation: {
        type: Boolean,
        default: true
      }
    },
    watch: {
      toggleNavigation: {
        handler: 'closeNav',
        immediate: false
      }
    },
      methods: {
        toggleNav() {
          document.getElementById('hamburger').classList.toggle("change");
          this.navItems = !this.navItems
          this.checkScreeWidth()
        },
        closeNav() {
          if (document.getElementById('hamburger') &&  document.getElementById('hamburger').classList.contains('change')) {
            document.getElementById('hamburger').classList.remove("change");
            this.navItems = false
          }
        },
        checkScreeWidth() {
          this.screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
          if(this.screenWidth < 1200 && window.innerHeight > window.innerWidth) {
            this.mobileNavigation = !this.mobileNavigation
          }
        },
        showPage(value) {
          const screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
          if(screenWidth < 1200 && window.innerHeight > window.innerWidth) {
            this.$bus.emit('changePage', value)
            this.mobileNavigation = !this.mobileNavigation
            this.closeNav()
            return;
          }
          if (value === 'availability' || value === 'inquiries') {
            this.$emit('openModal', value)
          } else {
            this.$bus.emit('changePage', value)
          }
          this.$bus.emit('changePage', value)
        },
        handleSwipe(event, slick, direction) {
          console.log(event)
          console.log(slick)
          console.log(direction)
          console.log('swipe')
        }
      }
  }
</script>

<style scoped>
    .helper {
      display: none !important;
    }

    .items {
      right: 0 !important;
      transition: right .5s;
    }
</style>
